 table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            min-width: 200px;
        }

        th span {
            color: #000;
        }

        tr:nth-child(even) {
            background-color: #F1F8E9;
        }

        tr:nth-child(odd) {
            background-color: #DCEDC8;
        }

        th {
            background-color: #8BC34A;
            color: white;
            cursor: pointer;
            text-transform: capitalize;
            font-family: sans-serif;
        }

        #grid {
            width: 1000px;
            margin: 40px auto;
            overflow-y: scroll;
            max-height: 500px;
        }

        body {
            background: rgba(255, 255, 255, 0);
        }
