 table {
     border-collapse: collapse;
 }
 th,
 td {
     padding: 8px;
     text-align: center;
     min-width: 200px;
 }
 th span {
     color: #000;
 }
 tr:nth-child(even) {
     background-color: #F1F8E9;
     width: 100%;
 }
 tr:nth-child(odd) {
     background-color: #DCEDC8;
     width: 100%;
 }
 th {
     background-color: #8BC34A;
     color: white;
     cursor: pointer;
     text-transform: capitalize;
     font-family: sans-serif;
 }
 #grid {
     width: 1000px;
     margin: 40px auto;
 }
 body {
     background: rgba(255, 255, 255, 0);
 }
 thead,
 tbody {
     display: block;
 }
 tbody {
     height: 500px;
     overflow-y: auto;
     overflow-x: hidden;
 }
